<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Test Specific Settings-->
    <add key="TestVersion" value="Success" />
    <add key="VersionType" value="Enterprise" />
    <!--Browser Settings-->
    <add key="AutoMovePointer" value="False" />
    <add key="SilentMode" value="False" />
    <add key="IETimeOut" value="180" />
    <add key="AutoCloseIE" value="True" />
    <!--Database Settings-->
    <add key="DatabaseServer" value="(local)" />
    <!--Videos & Screen Capture Settings-->
    <add key="VideoEnabled" value="False" />
    <add key="ScreenCaptureEnabled" value="False" />
    <add key="VideoZoom" value="0.25" />
    <add key="VideoFramesPerSec" value="5" />
    <add key="CaptionFontSize" value="26" />
    <!--Test File Locations-->
    <add key="TestRoot" value="C:\Tests" />
    <add key="WebsitePath" value="Websites" />
    <add key="PackagePath" value="Packages" />
    <add key="DatabasePath" value="Databases" />
    <add key="ScreenCapturePath" value="Screen Captures" />
    <add key="TestFilesPath" value="C:\Tests\Source\" />
    <add key="LanguagePackage" value="ResourcePack.Core.04.09.00.fr-CA.zip" />
    <add key="NativeLocaleName" value="Français (Canada)" />
    <add key="LanguageCode" value="fr-CA" />
    <add key="EnglishLocaleName" value="French (Canada)" />
    <add key="TestEmailPath" value="TestEmails" />
  </appSettings>
</configuration>