@charset "utf-8";
/* CSS Document */

/*-------------------------------------*/
/* DNN ADMIN GRID 990px / FLUID */
/* --------------------------------------
/* Based on: 
/* 		Fluid Grids 	http://csswizardry.com/fluid-grids/#generated-grids
/* 		Skeleton:  		http://www.getskeleton.com/
/* 		Inuit CSS: 		http://csswizardry.com/inuitcss/
/*-------------------------------------*/

	/* Page Container */
	.dnn_AdminWrapper{
		position:relative;
		margin:0 auto; padding:18px; /* baseline unit */
		max-width:954px; /* box width 990px */
	}
	/* Use row for sections & colContainer for subsections */
	.dnn_row									{ margin-bottom:18px; /* baseline unit */}
	.dnn_ColContainer							{ }
	
	[class^="dnn_Column-"]{ 
		float: left; 
		display: inline; 
		margin-left:18px;
		height:50px;
	}
	.dnn_AdminWrapper.debug [class^="dnn_Column-"]{ background:rgba(255,0,0,0.2); /* red */ } 
	[class^="dnn_Column-"]:first-child{margin-left:0;}
	
	[class^="dnn_Column-"] > [class^="dnn_Column-"]{ 
		
	}
	
	/* Base Grid */
	.dnn_Column-1								{ width:6.604%;	 /* 63 / 954 */ }
	.dnn_Column-2								{ width:15.094%; /* 144 / 954 */}
	.dnn_Column-3								{ width:23.585%; /* 225 / 954 */}
	.dnn_Column-4								{ width:32.075%; /* 306 / 954 */}
	.dnn_Column-5								{ width:40.566%; /* 387 / 954 */}
	.dnn_Column-6								{ width:49.057%; /* 468 / 954 */}
	.dnn_Column-7								{ width:57.547%; /* 549 / 954 */}
	.dnn_Column-8								{ width:66.038%; /* 630 / 954 */}
	.dnn_Column-9								{ width:74.528%; /* 711 / 954 */}
	.dnn_Column-10								{ width:83.019% /* 792 / 954 */}
	.dnn_Column-11								{ width:91.509%; /* 873 / 954 */}
	.dnn_Column-12								{ width:100.000%; /* 954 / 954 */}
	
	.dnn_Column-one-third						{ width:30.909%; /* 306 / 954 */}
	.dnn_Column-two-thirds						{ width:63.636%; /* 630 / 954 */}
	
	/* Nested Column Classes */
	[class^="dnn_Column-"].alpha				{ margin-left:  0; }
	[class^="dnn_Column-"].omega                { margin-right: 0; }
	
	/* Offsets */
	[class^="dnn_Column-"].offset-by-one		{ margin-left:8.49%;  /* 81 / 954 */}
	[class^="dnn_Column-"].offset-by-two		{ margin-left:16.98%; /* 162 / 954 */}
	[class^="dnn_Column-"].offset-by-three		{ margin-left:25.47%; /* 243 / 954 */}
	[class^="dnn_Column-"].offset-by-four		{ margin-left:33.96%; /* 324 / 954 */}
	[class^="dnn_Column-"].offset-by-five		{ margin-left:42.45%; /* 405 / 954 */}
	[class^="dnn_Column-"].offset-by-six		{ margin-left:50.94%; /* 486 / 954 */}
	[class^="dnn_Column-"].offset-by-seven		{ margin-left:59.43%; /* 567 / 954 */}
	[class^="dnn_Column-"].offset-by-eight		{ margin-left:67.92%; /* 648 / 954 */}
	[class^="dnn_Column-"].offset-by-nine		{ margin-left:76.42%;  /* 729 / 954 */}
	[class^="dnn_Column-"].offset-by-ten		{ margin-left:84.91%;  /* 810 / 954 */}
	[class^="dnn_Column-"].offset-by-eleven		{ margin-left:93.40%;  /* 861 / 954 */}
	[class^="dnn_Column-"].offset-by-tweleve	{ margin-left:101.89%; /* 972 / 954 */}
	
	/* Clearing Floats */
	.dnn_AdminWrapper:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
	
	/* Apply clearfix class on contrainers wrapping columns or apply class row */
	
	/* Should check with Ryan - Richard
	.clearfix:before,
	.clearfix:after,
	.dnn_row:before,
	.dnn_row:after {
		visibility: hidden;
		display: block;
		width: 0; height: 0;
		overflow: hidden;
		content: '\0020';
	}
	*/
	
	.dnn_row:after,
	.clearfix:after {
		clear: both; }
	.dnn_row,
	.clearfix {
		zoom: 1; }
	
	/* for <br class="clear" /> to clear columns */
	.clear {
		clear: both;
		display: block;
		width: 0;
		height: 0;
		overflow: hidden;
		visibility: hidden;
	}