<configuration>
  <nodes configfile="Web.config">
	  <node path="/configuration/system.webServer" action="update" targetpath="/configuration/system.webServer/security" collision="ignore">
		  <security />
	  </node>
	  <node path="/configuration/system.webServer/security" action="update" targetpath="/configuration/system.webServer/security/requestFiltering" collision="ignore">
		  <requestFiltering />
	  </node>
	  <node path="/configuration/system.webServer/security/requestFiltering" action="update" targetpath="/configuration/system.webServer/security/requestFiltering/hiddenSegments" collision="ignore">
		  <hiddenSegments />
	  </node>
	  <node path="/configuration/system.webServer/security/requestFiltering/hiddenSegments" action="update" key="segment" collision="overwrite">
		  <add segment="Documentation" />
		  <add segment="Licenses" />
	  </node>
  </nodes>
</configuration>
