/* ===========   Module Settings Styling   =========== */

.dnnModuleSettings{width:900px;margin:2em auto;}
    .dnnModuleSettings div.msModuleSettings, .dnnModuleSettings div.msPermissions, .dnnModuleSettings div.msPageSettings, .dnnModuleSettings div.msSpecificSettings{padding:0;margin-top:2.5em;}
	.dnnModuleSettings .dnnFormItem input[type="text"], .dnnModuleSettings .dnnFormItem .dnnFormInput, .dnnModuleSettings .dnnFormItem textarea{min-width:50%;}
.dnnFormInput.dnnHSRadioButtons{display:block;overflow:hidden;}
	.mspsContent .dnnMSRadioButtons{display:block;overflow:hidden;float:left;padding:0;width:50%;}
		.msPageSettings .dnnMSRadioButtons br, .msPageSettings .urlControlLinkType br {display:none !important;font-size:0;line-height:0;border-collapse:collapse;}
		.dnnForm .mspsContent .dnnMSRadioButtons input{width:5%; min-width:5%}
			.dnnForm .mspsContent .dnnMSRadioButtons label{width:auto;text-align:left;}
	.dnnForm.dnnModuleSettings .dnnFormInput.dnnMSRadioButtons label{width:10%;margin-top:0;}
	.dnnModuleSettings div.dnnmsStat{border-top:1px #ccc solid;padding:1em 0 4em;overflow:hidden;}
	.dnnmsStat p{float:left;padding-right:2em;}
	    p.dnnFormRequired span{border-left:5px #F00 solid;padding-left:0.5em;}

	.dnnFormItem input[type="checkbox"]{width:auto;}

	.mspsContent .urlControl{width:70%;}
	.mspsContent .urlControlLinkType{float:left;width:50%;}
	.mspsContent .urlControlFileRow a.dnnSecondaryAction{margin-left:25%;}
	.mspsContent .urlControlLinkType input[type="radio"]{width:auto}
	

/* ===========   End Module Settings Styling   =========== */