.dnnRazorHost{margin:1em auto;}
.dnnRazorHostAddScript{padding:1em 2em;}
.dnnRazorHost .dnnFormItem input[type="text"], .dnnRazorHost .dnnFormItem textarea{width:80%;}
	.razorHostModSource{margin:1em 0 1em 16%;}
.dnnRazorHost .dnnFormItem .dnnTooltip{ width: 15%;}