#dnnCPWrap{width:960px;position:fixed;top:0;z-index:1300;margin:0 auto}
	#dnnCPWrap.Pinned {position:static;}
	#dnnCPWrap .dnnCPContent {display:none;-moz-box-shadow:0 1px 5px #aaa;-webkit-box-shadow:0 1px 5px #aaa;box-shadow:0 1px 5px #aaa;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;}
	.dnnCPDock{display:inline-block;width:16px;height:16px;cursor:pointer;background: url('images/iconbar_undocked.png') no-repeat;vertical-align:middle;margin:3px 15px 0 0;}
  	.dnnCPDock.Pinned {background: url('images/iconbar_docked.png') no-repeat;}
.dnnControlPanel{margin:0 auto;font-size:11px;width:960px;}
	.dnnControlPanel a{font-size:11px;}
	a.dnnCPHMessagednnLeft, a.dnnCPHMessagednnLeft img{display:block !important;}
	.dnnControlPanel .dnnFormItem label, .dnnControlPanel .dnnFormItem .dnnFormLabel{margin-top:0;font-size:11px;}
	.dnnControlPanel .dnnFormItem input{width:45%;padding:2px}
		.dnnControlPanel .dnnFormItem input[type=checkbox], .dnnControlPanel .dnnFormItem input[type=radio], .dnnControlPanel .dnnFormItem input[type=submit]{width:auto;}
		.dnnControlPanel .cpamModuleTitle{width:250px;}
			.dnnControlPanel .dnnFormItem .cpamModuleTitle input, .amCatList select{width:150px}
		.cpamModuleVisibility{width:250px;}
		.dnnCPCNav .ui-tabs-nav.ui-helper-reset{font-size:90%;}
			.dnnCPHNav.dnnRight span{display:inline-block;padding:8px 0 0 0;}
			.dnnCPHNav label{margin:10px 10px 10px 3px;}			
	
/*	
	.cpcbCommonTasks.ui-tabs-panel.ui-widget-content.ui-corner-bottom, .cpcbCurrentPage.ui-tabs-panel.ui-widget-content.ui-corner-bottom, .cpcbAdmin.ui-tabs-panel.ui-widget-content.ui-corner-bottom, .cpcbHost.ui-tabs-panel.ui-widget-content.ui-corner-bottom{border:1px #ccc solid;padding:0;background:#fff;overflow:hidden;}
	.cpcbCommonTasks.ui-tabs-panel.ui-widget-content.ui-corner-bottom{background:url(images/cp-header-bg.gif) repeat-x top;}
	.dnnCPContent .ui-tabs-panel {min-height:190px;}
	.cpcbCommonTasks .cbctAddPage{width:400px;}
	.cpcbCommonTasks .cbctAddModule{width:550px;overflow:hidden;min-height:190px;}
	.cbctAddModule .dnnFormItem label{float:left;width:60px;padding-right:10px;margin-top:0;}
		.amCatList, .amPageList{width:230px;float:left}
		.amPageList{width:250px}
			.dnnControlPanel .dnnFormItem .amCatList label, .dnnControlPanel .cpamModuleTitle label{width:60px;padding-right:10px;}
		.amModuleList{width:240px;float:left}
			.dnnControlPanel .dnnFormItem .amModuleList label, .dnnControlPanel .dnnFormItem .amPageList label{margin-top:2px;}	
.dnnCPHeader .dnnFormItem.dnnCPHMode.dnnLeft label{padding-right:1em;text-transform:uppercase;font-size:90%;}
.cbctActions, .dnnCPAddModule{height:3em;line-height:3;}
	.dnnCPAddModule label{font-weight:bold}
	.dnnCPAddModule .cpamAddNew{padding-right:10px;}
	.dnnForm.dnnControlPanel input[type="radio"]{margin:0;}
	.dnnControlPanel h4{padding:0;text-align:right;font-size:11px;text-transform:uppercase;color:#000;float:left;margin:0 10px;}
		.cbctActions span a{font-weight:bold;margin-right:15px;display:block;float:left;}
.cbcpPageSettingsContent, .cpAddModuleContent{margin-top:1em;padding-left:10px;}
	.dnnControlPanel .cbcpPageSettingsContent input[type=text]{width:255px;}
		.cpAddModuleContent{padding:0 1em;}
			.cpAddModuleContent .dnnPrimaryAction{margin-left:70px;}
		.dnnForm .cpAddModuleContent .dnnFormItem{padding-left:0;padding-right:0;}
		.cpIncludeInMenu{margin-left:27%;}
			.cpIncludeInMenu label{width:auto;text-align:left;font-size:11px;}
			.cpIncludeInMenu label.SubHead{font-size:11px;}
		.mpPaneList{width:180px}
			.mpPaneList select{width:110px;}
		.mpPlacementPosition{width:165px;}
		.mpModuleList{width:180px;}
			.mpModuleList select{width:100px;}
		.cpamCopyModule, .cbctAddModule.dnnRight .dnnFormItem.dnnActions{margin-left:70px;}
		.dnnForm .cpamCopyModule .dnnFormInput label{width:65%;}
	.cpcbAdmin h4{margin:0 15px 0 0;padding:0;min-width:210px;text-align:right;float:left;}
	.cbaManage, .cbhTools, .cbhSwitchSite{margin:0;padding:0 0 0 1em;line-height:3;height:3em;}
		.cbaManage{padding-top:3.5em;}
		.cbhTools span a{display:block;float:left;}
	.cbhSwitchSite.dnnClear .dnnFormItem{clear:none;float:left;width:auto;}
			.cbhSwitchSite.dnnClear .dnnFormItem select{float:left;}
	.dnnControlPanel .cpcbCurrentPage.dnnClear h4{display:block;clear:both;float:none;overflow:hidden;width:65%;text-align:left;padding:0;margin:0;}
		.dnnControlPanel .cpcbCurrentPage.dnnClear .cbcpPageEdit h4{width:auto;}
	.dnnControlPanel .cpcbCurrentPage.dnnClear .cbcpFiCol.dnnLeft div.cbcpPageSettingsContent, 
	.dnnControlPanel .cpcbCurrentPage.dnnClear .cbcpFiCol.dnnLeft div.cbcpPageSettings.dnnClear{margin-botton:0 !important;}
		.cbcpFiCol.dnnLeft{margin-right:20px;padding:10px 0 10px 20px;height:170px;width:380px;border-right:1px #ccc solid;}
		.cbcpPageEdit.dnnLeft{width:460px;padding:10px 20px}
		.cbcpFiCol a, .cpcbAdmin a{display:block;line-height:2.5;height:2.5em;padding:0 15px 0 20px;font-weight:bold;float:left;}
			.cpcbAdmin a {line-height:3;height:3em;}
			span.cpEditCurrentPage a{background:url(images/iconbar_edittab_16.gif) no-repeat left;}
			span.cpCopyPage a{background:url(images/iconbar_copytab_16.gif) no-repeat left;}
			a.cpDeletePage{background:url(images/iconbar_deletetab_16.gif) no-repeat left;}
				a.cpDeletePage.dnnDisabled{background:url(images/iconbar_deletetab_bw_16.gif) no-repeat left;color:#ccc;cursor:not-allowed;text-decoration:none;border-collapse:collapse;}
			span.cpImportPage a{background:url(images/iconbar_importtab_16.gif) no-repeat left;}
			span.cpExportPage a{background:url(images/iconbar_exporttab_16.gif) no-repeat left;}
			a.cpCopyPermissions{background:url(images/iconbar_copytab_16.gif) no-repeat left;}
				a.cpCopyPermissions.dnnDisabled{background:url(images/iconbar_copytab_bw_16.gif) no-repeat left;color:#ccc;cursor:not-allowed;text-decoration:none;border-collapse:collapse;}
			a.cpCopyDesign{background:url(images/iconbar_copytab_16.gif) no-repeat left;}
				a.cpCopyDesign.dnnDisabled{background:url(images/iconbar_copytab_bw_16.gif) no-repeat left;color:#ccc;cursor:not-allowed;text-decoration:none;border-collapse:collapse;}
			span.cpPageHelp a{background:url(images/iconbar_help_16.gif) no-repeat left;}
			span.cpNewUser a{background:url(images/iconbar_add_users_16.gif) no-repeat left;}
			span.cpNewRole a{background:url(images/icon_securityroles_16px.gif) no-repeat left;}
			span.cpSiteNewPage a{background:url(images/iconbar_addtab_16.gif) no-repeat left;}
			span.cpUploadFile a{background:url(images/action_up.gif) no-repeat left;}
			span.cpWebServerManager a{background:url(images/icon_webservers_16px.gif) no-repeat left;}
			span.cpSupportTickets a{background:url(images/icon_mytickets_16px.gif) no-repeat left;}
			span.cpImpersonateUser a{background:url(images/icon_usersSwitcher_16px.gif) no-repeat left;}
			span.cpIntegrityChecker a{background:url(images/icon_appintegrity_16px.gif) no-repeat left;}
	.cppeNavOptions{margin:0 0 0 78px;overflow:hidden;clear:both;}
		.cbcpPageEdit.dnnLeft label{width:70px;}	
			.cppeNavOptions .dnnFormItem.dnnLeft{width:150px;clear:none;}
			.cppeNavOptions .dnnFormItem.dnnLeft label{width:auto}
			.cppeNavOptions .dnnFormItem.dnnLeft.penoDisabled{width:20%;margin:0;}
	.cbcpPageEdit.dnnLeft input.dnnPrimaryAction{margin-left:85px;}	
*/

.dnnCPHMessage {display:block;margin:0 auto;width:260px;}

		.cbcpFiCol a, .cpcbAdmin a{display:block;line-height:2.5;height:2.5em;padding:0 15px 0 20px;font-weight:bold;float:left;}
			span.cpEditCurrentPage a{background:url(images/iconbar_edittab_16.gif) no-repeat left;}
			span.cpAddNewPage a{background:url(images/iconbar_addtab_16.gif) no-repeat left;}
			span.cpCopyPage a{background:url(images/iconbar_copytab_16.gif) no-repeat left;}
			a.cpDeletePage{background:url(images/iconbar_deletetab_16.gif) no-repeat left;}
				a.cpDeletePage.dnnDisabled{background:url(images/iconbar_deletetab_bw_16.gif) no-repeat left;color:#ccc;cursor:not-allowed;text-decoration:none;border-collapse:collapse;}
			span.cpImportPage a{background:url(images/iconbar_importtab_16.gif) no-repeat left;}
			span.cpExportPage a{background:url(images/iconbar_exporttab_16.gif) no-repeat left;}
			a.cpCopyPermissions{background:url(images/iconbar_copytab_16.gif) no-repeat left;}
				a.cpCopyPermissions.dnnDisabled{background:url(images/iconbar_copytab_bw_16.gif) no-repeat left;color:#ccc;cursor:not-allowed;text-decoration:none;border-collapse:collapse;}
			a.cpCopyDesign{background:url(images/iconbar_copytab_16.gif) no-repeat left;}
				a.cpCopyDesign.dnnDisabled{background:url(images/iconbar_copytab_bw_16.gif) no-repeat left;color:#ccc;cursor:not-allowed;text-decoration:none;border-collapse:collapse;}
		.cbctAddPage {width:49%; margin-right:1em;} 
		.cbcpPageEdit {width:49%;} 
		.cbcpPageSettingsContent input {width:70%}
		.dnnadminmega .megaborder .cpcbCurrentPage label {width: 15%;}
		#cpIncludeInMenu label {width:auto; padding-left:6px;}
		#cppeNavOptions .dnnFormItem {width: 40%;clear:none;}
		#cppeNavOptions .dnnFormItem label {width:auto; padding-left:6px;}
        
		
		
			span.cpNewUser a{background:url(images/iconbar_add_users_16.gif) no-repeat left;}
			span.cpNewRole a{background:url(images/icon_securityroles_16px.gif) no-repeat left;}
			span.cpUploadFile a{background:url(images/action_up.gif) no-repeat left;}
			span.cpWebServerManager a{background:url(images/icon_webservers_16px.gif) no-repeat left;}
			span.cpSupportTickets a{background:url(images/icon_mytickets_16px.gif) no-repeat left;}
			span.cpImpersonateUser a{background:url(images/icon_usersSwitcher_16px.gif) no-repeat left;}
			span.cpIntegrityChecker a{background:url(images/icon_appintegrity_16px.gif) no-repeat left;}
			a.cpRecycleApp {background:url(images/iconbar_recycleapp_16px.gif) no-repeat left;}
			a.cpClearCache {background:url(images/iconbar_clearcache_16px.gif) no-repeat left;}
			span.cpPageHelp a{background:url(images/iconbar_help_16.gif) no-repeat left;}

			.cpcbAdmin .cbhSwitchSite a {float:none}