.dnnDraggable {
    border: 1px dashed #ccc;
    margin-bottom: 10px;
}
.dnnDraggableContent {
    /*position: relative;*/
    z-index: 0;
}

.dnnDragHint {
    /*position: relative;*/
    border: 1px dashed #ccc;
    height: 22px;
    cursor: move;
    /*z-index: 5;*/
}

/*.dnnDragging {
    background-color: #eee;
    border: 1px solid #333;
    opacity: 0.5;
}
*/
.dnnDropTarget {
    background: #e8f1fa; 
    border: 1px dashed #ccc;
    visibility: visible !important; 
    height: 100px !important;
    font-size: 2em;
    text-align: center;
    padding-top: 25px;
}

/*.dnnSortable {
    border: 1px dashed #ccc;
    min-height: 100px !important;
}
*/