.dnnForm.dnnLogin.dnnClear, .dnnForm.dnnLoginService{margin:1em;}
.dnnLogin input[type=text], .dnnLogin input[type=password]{width:150px;}
	.dnnForm.dnnLoginService{min-width:350px;width:350px;}
	.dnnForm.dnnLoginService p{margin:0;padding:0;}
	.dnnForm.dnnLoginService .dnnFormItem label{width:110px;padding-right:10px;}
	.dnnLoginService a.dnnPrimaryAction{margin-left:142px;margin-top:5px;line-height:1.6;padding:3px 12px;}
	.dnnLoginActions{padding-top:5px;}
	.dnnLoginRememberMe{margin-left:150px;padding-bottom:5px;height:15px;}
	.loginContent .LoginTabGroup{overflow:hidden;margin-left:125px;}
	.LoginTab, .LoginTabSelected{float:left;background:#ccc;margin:0 3px 3px 0;padding:6px 12px;text-decoration:none;color:#333;text-shadow:1px 1px 0 #fff;border-radius:3px;-moz-border-radius:3px;}
		.LoginTabSelected{background:#666;color:#fff;text-shadow:none;}
	.LoginTabHover{float:left;background:#eee;margin:0 3px 3px 0;padding:6px 12px;text-decoration:none;color:#555;cursor:pointer}
	.LoginContainerGroup{clear:both;padding-top:5px;}
	.dnnForm .loginContent ul.dnnActions{margin:10px 0 0 0;border:none;padding:0 0 0 142px;}

/* SET DEFUALT BUTTON STYLE */
.LoginContainer .facebook a, .LoginContainer .twitter a, .LoginContainer .googleplus a, .LoginContainer .windowslive a
{
    clear: both;
    overflow: auto;
    position: relative;
    display: block;
    text-decoration: none;
    text-shadow: 0px 1px 0px #fff;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background: #e7e7e7 url(images/socialLoginbuttons-repeatingbg.png) repeat-x 0 -601px;
    border: 1px solid #c9c9c9;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.7);
    width: 250px;
    margin-left: 142px;
}
.LoginContainer .facebook, .LoginContainer .twitter, .LoginContainer .googleplus, .LoginContainer .windowslive { padding-top: 25px;padding-bottom: 25px;}

/* Use span to set dimensions; a and li will inherit */
.LoginContainer a img
{
    float: left;
}
.LoginContainer a span
{
    float: left;
    display: block;
    padding: 10px 15px;
}
.LoginContainer a:hover
{
    border-color: #a8a8a8;
    text-shadow: 0px 1px 0px #e1e1e1;
    background-position: 0 -650px;
    background-color: #cacbcd;
}
.LoginContainer a:active
{
    color: #fff;
    text-shadow: 0px -1px 0px #666;
    border-color: #a3a3a3;
    background-position: 0 -700px;
    background-color: #b7b9bb;
    -webkit-box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
}
/* SET SOCIAL SPECIFIC STYLES */
.LoginContainer .facebook a span, .LoginContainer .twitter a span, .LoginContainer .googleplus a span, .LoginContainer .windowslive a span
{
    padding-left: 45px;
    background: url(images/socialLoginbuttons-icons.png) no-repeat 12px 7px;
}
.LoginContainer .facebook a:after, .LoginContainer .twitter a:after, .LoginContainer .googleplus a:after, .LoginContainer .windowslive a:after
{
    position: absolute;
    left: 35px;
    top: 0;
    height: 100%;
    width: 0;
    content: "";
    border-left: 1px solid rgba(0,0,0,0.2);
    border-right: 1px solid rgba(255,255,255,0.3);
}
/*FACEBOOK*/
.LoginContainer .facebook a
{
    color: #fff;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
    border-color: #286c93; /* dark blue */
    background-position: 0 0;
    background-color: #5581bb;
}
.LoginContainer .facebook a:hover
{
    color: #fff;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
    border-color: #286c93; /* dark blue */
    background-position: 0 -50px;
    background-color: #729dcd;
}
.LoginContainer .facebook a:active
{
    background-position: 0 -100px;
    border-color: #286c93; /* dark blue */
    background-color: #537fba;
}

/*TWITTER*/
.LoginContainer .twitter a
{
    color: #fff;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
    border-color: #3d82a0; /* dark teal blue */
    background-position: 0 -150px;
    background-color: #11a2d6;
}
.LoginContainer .twitter a:hover
{
    color: #fff;
    border-color: #3d82a0; /* dark teal blue */
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
    background-position: 0 -200px;
    background-color: #43c1e3;
}
.LoginContainer .twitter a:active
{
    background-position: 0 -250px;
    border-color: #3d82a0; /* dark teal blue */
    background-color: #0597cc;
}
.LoginContainer .twitter a span
{
    background-position: 9px -40px;
}

/*GOOGLE PLUS*/
.LoginContainer .googleplus a
{
    color: #fff;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
    border-color: #821e16; /* dark red */
    background-position: 0 -300px;
    background-color: #b12e1e;
}
.LoginContainer .googleplus a:hover
{
    color: #fff;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
    border-color: #821e16; /* dark red */
    background-position: 0 -350px;
    background-color: #cc3633;
}
.LoginContainer .googleplus a:active
{
    background-position: 0 -400px;
    border-color: #821e16; /* dark red */
    background-color: #a5281a;
}
.LoginContainer .googleplus a span
{
    background-position: 10px -90px;
}

/*WINDOWS LIVE ID*/
.LoginContainer .windowslive a
{
    color: #fff;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
    border-color: #7a7a7a; /* dark grey*/
    background-position: 0 -450px;
    background-color: #8f8f8f;
}
.LoginContainer .windowslive a:hover
{
    color: #fff;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
    border-color: #7a7a7a; /* dark grey*/
    background-position: 0 -500px;
    background-color: #b3b3b3;
}
.LoginContainer .windowslive a:active
{
    background-position: 0 -550px;
    border-color: #7a7a7a; /* dark grey*/
    background-color: #808080;
}
.LoginContainer .windowslive a span
{
    background-position: 9px -141px;
}	