<div>
    Enter the name of a Twitter feed to display:
    <br />
    <input type="text" name="TwitterUser" value="" />
    &nbsp;
    <input type="submit" value="Submit" />
    <br />
    <br />
</div>
<div>
    @if (Request["TwitterUser"].IsEmpty())
    {
        @Twitter.Profile("DNNCorp")
    }
    else
    {
        @Twitter.Profile(Request["TwitterUser"])
    }
</div>
