<configuration>
  <nodes configfile="Web.config">
  
    <!-- path is the root node, everything else is in a child context -->
    <node path="/configuration/configSections" action="update" key="name" collision="overwrite">
      <section name="clientDependency" type="ClientDependency.Core.Config.ClientDependencySection, ClientDependency.Core" requirePermission="false"/>
    </node>

    <node path="/configuration/system.web/httpModules" action="update" key="name" collision="overwrite">
      <add name="ClientDependencyModule" type="ClientDependency.Core.Module.ClientDependencyModule, ClientDependency.Core"/>
    </node>
    
    <!-- there is no name attribute for handlers in system.web, so match on type -->
    <node path="/configuration/system.web/httpHandlers" action="update" key="type" collision="overwrite">
      <add verb="*" path="DependencyHandler.axd" type="ClientDependency.Core.CompositeFiles.CompositeDependencyHandler, ClientDependency.Core "/>
    </node>

    <node path="/configuration/system.webServer/modules" action="update" key="name" collision="overwrite">
      <add name="ClientDependencyModule" type="ClientDependency.Core.Module.ClientDependencyModule, ClientDependency.Core"/>
    </node>

    <node path="/configuration/system.webServer/handlers" action="update" key="name" collision="overwrite">
      <add name="ClientDependencyHandler" verb="*" path="DependencyHandler.axd" type="ClientDependency.Core.CompositeFiles.CompositeDependencyHandler, ClientDependency.Core "/>
    </node>
    
    <node path="/configuration" action="update" targetpath="/configuration/clientDependency" collision="overwrite">
      <clientDependency version="610" fileDependencyExtensions=".js,.css">
        <fileRegistration defaultProvider="LoaderControlProvider">
          <providers>
            <add name="PageHeaderProvider" type="ClientDependency.Core.FileRegistration.Providers.PageHeaderProvider, ClientDependency.Core" enableCompositeFiles="true"/>
            <add name="LazyLoadProvider" type="ClientDependency.Core.FileRegistration.Providers.LazyLoadProvider, ClientDependency.Core" enableCompositeFiles="true"/>
            <add name="LoaderControlProvider" type="ClientDependency.Core.FileRegistration.Providers.LoaderControlProvider, ClientDependency.Core" enableCompositeFiles="true"/>
          </providers>
        </fileRegistration>
        <compositeFiles defaultFileProcessingProvider="CompositeFileProcessor" compositeFileHandlerPath="~/DependencyHandler.axd">
          <fileProcessingProviders>
            <add name="CompositeFileProcessor" type="ClientDependency.Core.CompositeFiles.Providers.CompositeFileProcessingProvider, ClientDependency.Core" enableCssMinify="false" enableJsMinify="true" persistFiles="true" compositeFilePath="~/App_Data/ClientDependency" bundleDomains="" urlType="MappedId" />
          </fileProcessingProviders>
        </compositeFiles>
      </clientDependency>
    </node>
    
  </nodes>
</configuration>